<ion-header>
  <ion-toolbar color="primary">
    <div slot="start" class="header-content">
      <img src="/assets/images/logo.png" alt="Logo Giralda" />
      <span>Segunda Giralda Stock Manager</span>
    </div>
    <div slot="end" class="screen-title">
      Inicio
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="home-background">
    <div class="overlay">
      <h1>Bienvenido</h1>
      <ion-button color="primary" routerLink="/login">
        Entrar al sistema
      </ion-button>
    </div>
  </div>  
</ion-content>